.playerContent {
	flex: 0.8;
	background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
	color: white;
	height: 100vh;
	padding: 30px;
	overflow-y: overlay;
}

.playerContent__info {
	display: flex;
	align-items: flex-end;
	padding: 10px;
}

.playerContent__infoText {
	flex: 1;
}

.playerContent__infoText > h2 {
	font-size: 48px;
	margin-bottom: 10px;
}

.playerContent__infoText > p {
	font-size: 14px;
}

.playerContent__info > img {
	height: 20vw;
	margin: 0 20px;
	box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.playerContent__icons {
	display: flex;
	align-items: center;
}

.playerContent__icons > .MuiSvgIcon-root {
	margin-right: 20px;
}

.playerContent__shuffle {
	font-size: 80px !important;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.playerContent__shuffle:hover {
	transition: 100ms transform ease-in-out;
	transform: scale(1.08);
}

.playerContent__background {
	position: absolute;
	top: 13vh;
	right: 0;
	opacity: 0.4;
	height: 80%;
	width: 80%;
	background-color: black;
}

.playerContent__songs {
	z-index: 1;
	margin: 20px -30px;
}
